langchain>=0.3.25
langchain-openai>=0.3.18
langchain-community>=0.3.24
langgraph>=0.4.7
langgraph.checkpoint.mongodb>=0.1.3
fastapi>=0.115.12
uvicorn>=0.34.2
requests>=2.32.3
langchain-mcp-adapters >=0.1.7
mcp-use >=1.3.0
fastapi_mcp
loguru
langsmith 
openevals
